<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDf_QyiBy8P3Kmf3JVMsgjrZZqQ8ikK1X0</string>
	<key>GCM_SENDER_ID</key>
	<string>612379197551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.examples.PasswordManager</string>
	<key>PROJECT_ID</key>
	<string>passwordmanager-b224d</string>
	<key>STORAGE_BUCKET</key>
	<string>passwordmanager-b224d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612379197551:ios:16e05e3b96428adab6cd9a</string>
</dict>
</plist>